IndentWidth: 2
ContinuationIndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false
AlignAfterOpenBracket: DontAlign
